<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Family Jornal Entry</title>
    <link rel='stylesheet' href='/stylesheets/Nav.css' />
    <link rel='stylesheet' href='/stylesheets/entryDisplay.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/Nav.css' />
</head>

<body>
    <%- include('Logout_Navbar',{Name:LoginName});%>
    <!-- Page Content -->
    <main>
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header cardHeader-color"><%= journalTitle%></div>
                        <div class="card-body">
                            <div class="row justify-content-end">
                                <div class="col-sm-4">
                                    <h6>Date: <%= journalDate%></h6>
                                </div>
                            </div>
                            <div class="row justify-content-start">
                                <p class="entryBody"><%= journalText %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (entryPhotos.length > 0) { %>
        <div class="cotainer">
            <div class="row">
                <% for (i in entryPhotos) { %>
                    <div class="col-lg-3 col-md-4 col-xs-6 pic">
                        <img src="<%= entryPhotos[i] %>" class="img-thumbnail img-fluid">
                    </div>
                <% } %>
            </div>
        </div>
        <% } %>
    </main>
</body>

</html>