<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Family Jornal-Journals</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/JournalList.js"></script>
    <link rel='stylesheet' href='/stylesheets/Nav.css' />
    <link rel='stylesheet' href='/stylesheets/JournalList.css'/>
    <link rel='stylesheet' href='/stylesheets/list.css'/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('Logout_Navbar', {Name:LoginName});%>
    <!-- Page Content -->
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header cardHeader-color">
                            Journals
                            <button class="btn-add" id="JournalAddBtn" data-toggle="modal" data-target="#createJournalModal">+</button>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < Journals.length; i++) {%>
                                        <tr>
                                            <td> <a href="journals/<%= Journals[i].id %>/<%= Journals[i].title%>/entries">
                                                <% if(Journals[i].title.length > 35) { %>
                                                    <%= Journals[i].title.substring(0,35) %>...
                                                <% } else { %>
                                                    <%= Journals[i].title %>
                                                <% } %>
                                                </a></td>
                                            <td><%= Journals[i].description %></td> 
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- Modal -->
    <div id="createJournalModal" class="modal fade" tabindex="-1" role="forum">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header modal-thm">
                    <h5 class="modal-title" id="exampleModalLabel">Create Journal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="journal-form" action="/journals/createJournal" method="post">
                        <div class="form-group row">
                            <label for="Title" class="col-md-4 col-form-label text-md-right">Title</label>
                            <div class="col-md-6">
                                <input type="text" id="Title_text" class="form-control" name="title" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                            <div class="col-md-6">
                                <input type="text" id="description_area" class="form-control" name="description">
                            </div>
                        </div>
                        <div class="col-md-6 offset-md-9">
                            <input type="submit" class="btn btn-theme">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>